.carousel .slide {
    position: relative;
    background: #333;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 80vh;
  }
  
  .carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.3s;
    opacity: 0.7;
  }
  
  .carousel .legend h3 {
    margin: 0;
    font-size: 24px;
    color: white;
    font-family: 'Roboto';
  }
  
  .carousel .legend p {
    margin: 10px 0;
    font-size: 18px;
    color: white;
    font-family: 'Roboto';

  }
  
  .carousel .legend:hover {
    opacity: 1;
  }
  